.l_home {
  width: 100vw;
  height: 100vh;
  background-image: url("../image/bg_main01.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: fixed;
  overflow: scroll;
}
.l_main{
  overflow: hidden;
}
.hero {
  width: 100%;
  padding-bottom: 70px;
}

.hero .title {
  margin-top: 95px;
  width: 100%;
}

.hero .title-img {
  width: 25%;
  margin-left: 10px;
}

.hero-list {
  width: 100%;
  margin-top: 50px;
}
.recruit-btn-active{
  display: none;
}
.hero-list__item {
  width: 100%;
  text-align: center;
}

.hero-list__item .item-icon {
  width: 100%;
}

.hero-list__item .item-icon__img {
  width: 90%;
  margin: 0 auto;
}

.hero-list__item .txt {
  color: white;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 10px;
}

.hero-list__item .arrow {
  width: 100%;
  margin-top: 10px;
}

.hero-list__item .arrow-img {
  width: 40%;
  margin: 0 auto;
}

.hero-list__item .arrow .img-small {
  width: 25%;
}

.greeting {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding-bottom: 30px;
}

.greeting .title {
  width: 100%;
  position: relative;
  background-color: #323232;
}

.greeting .title:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #323232;
  transform: rotate(3deg);
  z-index: 1;
}

.greeting .title:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #323232;
  transform: rotate(-3deg);
  z-index: 1;
}

.greeting .title-img {
  width: 20%;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 2;
}

.greeting-body-img {
  width: 100%;
  margin-top: -8px;
}

.greeting-body-img-pc {
  display: none;
}

.greeting-txt {
  line-height: 1.7;
  width: 90%;
  margin: 0 auto;
}

.service {
  width: 100%;
  background-color: white;
  position: relative;
}

.service .dots {
  display: none;
}

.service .dots-line {
  width: 90%;
  position: absolute;
  top: 19%;
  height: 1px;
  background-color: yellowgreen;
  left: 50%;
  transform: translate(-50%);
}

.service .title {
  width: 100%;
  position: relative;
  background-color: #323232;
}

.service .title:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #323232;
  transform: rotate(-3deg);
  z-index: 1;
}

.service .title:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #323232;
  transform: rotate(3deg);
  z-index: 1;
}

.service .title-img {
  width: 20%;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 2;
}

.service-list {
  width: 100%;
  padding-top: 150px;
}

.service-list__item {
  width: 100%;
}

.service-list__item .item-title {
  width: 40%;
  margin: 0 auto;
  color: blue;
  text-align: center;
  font-size: 1.2rem;
}

.service-list__item .item-txt {
  line-height: 1.5;
  color: blue;
  width: 90%;
  margin: 10px auto 0;
}

.service-list__item .item-service-img {
  width: 60%;
  display: block;
  margin: 20px auto 0;
}

.service-list__item .arrow {
  width: 40%;
  margin: 20px auto 0;
  color: yellowgreen;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  position: relative;
}

.service-list__item .arrow:before {
  position: absolute;
  content: "";
  background-image: url("../image/service_arrow.svg");
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  top: 50%;
  right: -10%;
  transform: translateY(-50%) rotate(-90deg);
  -webkit-animation: move-arrow 0.5s infinite alternate;
          animation: move-arrow 0.5s infinite alternate;
}

@-webkit-keyframes move-arrow {
  0% {
    transform: translate(20%, -50%) rotate(-90deg);
  }
  100% {
    transform: translate(100%, -50%) rotate(-90deg);
  }
}

@keyframes move-arrow {
  0% {
    transform: translate(20%, -50%) rotate(-90deg);
  }
  100% {
    transform: translate(100%, -50%) rotate(-90deg);
  }
}

.service button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 60px;
  width: 60px;
}

.service .slide-dots {
  display: flex;
  position: absolute;
  top: 10%;
  width: 100%;
}

.service .slide-dots li {
  display: inline-block;
  text-align: center;
  background-color: white;
  border-radius: 50%;
  transition: 0.1s;
}

.service .slide-dots li button {
  position: relative;
  text-indent: -99999px;
}

.service .slide-dots li button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 40px;
  width: 40px;
  border: 2px solid yellowgreen;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.service .slide-dots li.slick-active {
  background-color: #205ef2;
  border-radius: 50%;
}

.service .slide-dots li.slick-active button:before {
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0px;
  text-indent: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 70px;
  width: 70px;
  background-color: #205ef2;
  border: 2px solid white;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.service .slide-dots li:nth-of-type(1) {
  background-image: url("../image/betu_dots.svg");
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.service .slide-dots li:nth-of-type(1).slick-active button:before {
  background-image: url("../image/betu_dots_active.svg");
}

.service .slide-dots li:nth-of-type(2) {
  background-image: url("../image/au_dots.svg");
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.service .slide-dots li:nth-of-type(2).slick-active button:before {
  background-image: url("../image/au_dots_active.svg");
}

.service .slide-dots li:nth-of-type(3) {
  background-image: url("../image/tyou_dots.svg");
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.service .slide-dots li:nth-of-type(3).slick-active button:before {
  background-image: url("../image/tyou_dots_active.svg");
}

.service .slide-dots li:nth-of-type(4) {
  background-image: url("../image/syu_dots.svg");
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.service .slide-dots li:nth-of-type(4).slick-active button:before {
  background-image: url("../image/syu_dots_active.svg");
}

.service .slide-dots li:nth-of-type(5) {
  background-image: url("../image/sei_dots.svg");
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.service .slide-dots li:nth-of-type(5).slick-active button:before {
  background-image: url("../image/sei_dots_active.svg");
}

.service .slide-dots li:nth-of-type(6) {
  background-image: url("../image/ken_dots.svg");
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.service .slide-dots li:nth-of-type(6).slick-active button:before {
  background-image: url("../image/ken_dots_active.svg");
}

.service .slide-dots .position-first {
  left: 5%;
}

.service .slide-dots .position-first-next {
  right: 15%;
}

.service .slide-dots .position-first-next2 {
  right: 0;
}

.service .slide-dots .position-last {
  right: 5%;
}

.service .slide-dots .position-last-prev {
  left: 15%;
}

.service .slide-dots .position-last-prev2 {
  left: 0;
}

.service .slide-dots .position-center {
  left: 50%;
  transform: translateX(-50%);
}

.service .slide-dots .position-right {
  transform: translateX(50%);
  right: 0;
}

.service .slide-dots .position-left {
  transform: translateX(-50%);
  left: 0;
}

.service .slide-dots .position-over-left {
  right: 100%;
}

.service .slide-dots .position-over-right {
  left: 100%;
}

.infomation {
  background-color: rgba(0, 0, 0, 0.5);
}

.infomation-title {
  width: 100%;
  position: relative;
  background-color: #323232;
}

.infomation-title:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #323232;
  transform: rotate(3deg);
  z-index: 1;
}

.infomation-title:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #323232;
  transform: rotate(-3deg);
  z-index: 1;
}

.infomation-title-img {
  width: 30%;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 2;
}

.infomation .body {
  width: 90%;
  margin: 0 auto;
  border-left: 1px solid yellowgreen;
  margin-top: 50px;
}

.infomation .body .title {
  color: white;
  background-color: #dbe87f;
  border-radius: 0 50px 50px 0;
  padding: 0 1rem;
  display: inline-block;
  line-height: 1.5;
}

.infomation .body .data {
  margin-top: 20px;
  margin-bottom: 40px;
  color: white;
  margin-left: 10px;
  line-height: 1.8;
}

.infomation .body .data .office-name {
  color: white;
}

.infomation .body .data-margin {
  margin-bottom: 0;
  padding-bottom: 30px;
}

.infomation .body .color-change {
  background-color: yellowgreen;
}

.recruit-btn {
  width: 90px;
  height: 90px;
  position: fixed;
  right: -45px;
  /* transform: translateX(50%); */
  bottom: 20%;
  z-index: 20;
}

.recruit-btn__inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.recruit-btn-bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: recruit-btn-rotate 5s linear infinite reverse;
}

.recruit-btn-top-img {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: recruit-btn-rotate 5s linear infinite;
          animation: recruit-btn-rotate 5s linear infinite;
}

@-webkit-keyframes recruit-btn-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes recruit-btn-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.recruit-btn .recruit-btn-after {
  display: none;
}

.l_footer .footer-logo {
  display: none;
}

@media screen and (min-width: 1080px) {
  .l_header {
    width: 100%;
    position: fixed;
  }
  .l_header .link-list {
    width: 25%;
  }
  .l_header .title__logo-img-pc {
    width: 50%;
    -webkit-animation: rotate-company-top 5s linear infinite;
            animation: rotate-company-top 5s linear infinite;
  }
  @-webkit-keyframes rotate-company-top {
    0% {
      transform: translateX(75%) rotate(0deg);
    }
    100% {
      transform: translateX(75%) rotate(360deg);
    }
  }
  @keyframes rotate-company-top {
    0% {
      transform: translateX(75%) rotate(0deg);
    }
    100% {
      transform: translateX(75%) rotate(360deg);
    }
  }
  .company-title-pc {
    position: fixed;
    top: 20%;
    left: 0;
    background-color: #323232;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 5px 20px 5px 30px;
    width: 135px;
  }
  .company-title-pc__img {
    width: 50%;
    transform: translateX(100%);
  }
  .l_main .title-img {
    display: none;
  }
  .hero {
    width: 50%;
    margin: 0 auto;
  }
  .hero-list__item {
    transition: 0.3s;
  }
  .hero-list__item:not(:first-child) {
    opacity: 0;
    margin-top: 200px;
  }
  .hero-list__item:last-child {
    padding-bottom: 200px;
  }
  .greeting {
    padding-top: 30px;
    position: relative;
  }
  .greeting-inner {
    width: 60%;
    margin: 0 auto;
  }
  .greeting .title {
    display: none;
  }
  .greeting .greeting-body-img-sp {
    display: none;
  }
  .greeting .greeting-body-img-pc {
    display: block;
    margin-top: 100px;
  }
  .greeting .name {
    position: absolute;
    color: white;
    font-size: 1.3rem;
    top: 27%;
    left: 25%;
    z-index: 5;
  }
  .greeting .greeting-txt {
    font-size: 0.8rem;
  }
  .greeting .greeting-txt .txt-top {
    margin-top: 20px;
    display: block;
  }
  .service {
    width: 100vw;
    height: 100vh;
  }
  .service-inner {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .service-list {
    width: 30%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -30%);
  }
  .service .title {
    display: none;
  }
  .service .dots-line {
    display: none;
  }
  .service-list__item {
    position: absolute;
  }
  .service-list__item .arrow {
    display: none;
  }
  .service .dots {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .service .dots-list {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("../image/bg_heptagon.png");
    background-position: center;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 90%;
  }
  .service .dots-list__item {
    width: 50px;
    height: 50px;
    border: 1px solid yellowgreen;
    border-radius: 50%;
    position: absolute;
    background-color: white;
  }
  .service .dots-list__item .inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .service .dots-list__item .inner .inner__active {
    width: 150%;
    height: 180%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2878f5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .service .dots-list__item .inner .inner__active-img {
    width: 80%;
    height: 80%;
    position: relative;
    background-color: #2878f5;
    border-radius: 50%;
    border: 1px solid white;
  }
  .service .dots-list__item .inner .inner__active .service-dots-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background-color: #2878f5;
  }
  .service .dots-list__item .inner .service-dots-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
  }
  .service .dots-list__item:nth-last-of-type(1) {
    top: 14%;
    right: 10%;
  }
  .service .dots-list__item:nth-last-of-type(2) {
    top: 55%;
    right: 2%;
  }
  .service .dots-list__item:nth-last-of-type(3) {
    bottom: 6%;
    right: 27%;
  }
  .service .dots-list__item:nth-last-of-type(4) {
    bottom: 6%;
    left: 27%;
  }
  .service .dots-list__item:nth-last-of-type(5) {
    top: 55%;
    left: 2%;
  }
  .service .dots-list__item:nth-last-of-type(6) {
    top: 14%;
    left: 10%;
  }
  .service .dots-list__item:nth-last-of-type(7) {
    top: 0%;
    left: 50%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url("../image/bg_pattern.jpg");
    transform: translate(-50%, -50%);
  }
  .service .dots-list__item:nth-last-of-type(7) .inner {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .service .dots-list__item:nth-last-of-type(7) .inner .service-top-img {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
  }
  .is_list-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
  }
  .blank {
    height: 4200px;
    width: 100%;
  }
  .infomation {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .infomation-title {
    display: none;
  }
  .infomation .body {
    width: 70%;
    margin: 0 auto;
    display: flex;
  }
  .infomation .body__left {
    width: 50%;
    border-left: 1px solid yellowgreen;
  }
  .infomation .body__left .title {
    font-size: 0.7rem;
    height: 20px;
    line-height: 20px;
  }
  .infomation .body__left .data {
    font-size: 0.7rem;
    margin: 0;
    margin-left: 20px;
  }
  .infomation .body__left .body-inner-devide {
    display: flex;
    margin-top: 30px;
  }
  .infomation .body__right {
    margin-left: 70px;
    width: 50%;
    border-left: 1px solid yellowgreen;
  }
  .infomation .body__right .title {
    font-size: 0.7rem;
    height: 20px;
    line-height: 20px;
  }
  .infomation .body__right .data {
    font-size: 0.7rem;
    margin: 0;
    margin-left: 20px;
  }
  .infomation .body__right .body-inner-devide {
    display: flex;
    margin-top: 30px;
  }
  .l_footer .link-list {
    display: none;
  }
  .l_footer .privacy {
    display: none;
  }
  .l_footer .footer-logo {
    display: block;
    text-align: center;
    padding: 10px 0;
  }
  .l_footer .footer-logo__img {
    width: 20%;
  }
  .recruit-btn {
    width: 140px;
    height: 140px;
    transition: 0.3s;
    right: 0;
  }
  .recruit-btn-active {
    width: 140px;
    height: 140px;
    position: absolute;
    background-color: #ce4141;
    text-align: center;
    line-height: 140px;
    border-radius: 50%;
    color: white;
    font-size: 0.8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    transition: 0.3s;
  }
  .recruit-btn-active{
    display: block;
  }
}
