* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.l_home {
  width: 100vw;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.to-top-pc {
  display: none;
  position: fixed;
  bottom: 20%;
  right: 0;
  width: 15%;
  transform: translateX(80%);
  z-index: 2;
  transition: 0.2s;
}

.gloval-container {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.l_main {
  overflow: hidden;
}

.nav {
  display: none;
}

.l_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.1s;
}

.is_header_active {
  background-color: #323232;
}

.nav-list-pc {
  display: none;
}

.nav-btn {
  width: 8%;
  margin-right: 5%;
}

.nav-btn-img {
  width: 100%;
}

.nav-btn-batu {
  display: none;
  width: 100%;
}

.nav-50th {
  width: 100%;
  margin-top: 70px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: 0.1s;
  z-index: 1;
}

.nav-50th .nav-list {
  width: 100%;
  height: 100%;
  height: 60%;
}

.nav-50th .nav-list .nav-item {
  width: 100%;
  height: calc(100% / 6);
}

.nav-50th .nav-list .nav-item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.nav-50th .nav-list .nav-item:nth-child(even) {
  background-color: #323232;
}

.nav-50th .nav-list .nav-item:nth-child(odd) {
  background-color: #4d4d4d;
}

.nav-50th .nav-list .nav-item__img {
  width: 40%;
}

.nav-50th .nav-link {
  width: 100%;
  height: 40%;
  background-color: #4d4d4d;
  padding-top: 5%;
  text-align: center;
}

.nav-50th .nav-link .link-list {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  align-items: center;
}

.nav-50th .nav-link .link-list__item {
  width: 15%;
}

.nav-50th .nav-link .link-list__item-img {
  width: 100%;
}

.nav-50th .nav-link .copy-txt {
  margin-top: 5%;
  font-size: 0.6rem;
  color: white;
}

.is_nav-50th_active {
  position: fixed;
  transform: translateX(0);
}

.l_main {
  width: 100vw;
  background-image: url("../image/bg_eventdetail.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hero {
  margin-top: 100px;
  text-align: center;
}

.hero .title {
  width: 100%;
}

.hero .title__img {
  width: 90%;
}

.hero-body {
  width: 90%;
  display: block;
  margin: 30px auto 0;
}

.title__img-pc {
  display: none;
}

.event-detaile {
  width: 90%;
  margin: 0 auto;
}

.event-detaile .detaile-title {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 20px;
  margin-top: 20px;
}

.event-detaile .detaile-title:nth-of-type(1) {
  background-image: url("../image/txt_schedule.png");
}

.event-detaile .detaile-title:nth-of-type(2) {
  background-image: url("../image/txt_place.png");
  font-weight: bold;
}

.event-detaile .detaile-title:nth-of-type(3) {
  background-image: url("../image/txt_time.png");
}

.event-detaile .detaile-title:nth-of-type(4) {
  font-weight: bold;
  background-image: url("../image/txt_content.png");
  width: 150px;
}

.event-detaile .detaile-txt {
  margin-top: 10px;
  text-align: right;
}

.event-detaile .detaile-txt:nth-of-type(4) {
  line-height: 1.4;
  text-align: left;
}

.event-detaile .map {
  margin-left: 10px;
}

.event-detaile .map-img {
  width: 100px;
}

.event-img-under {
  width: 90%;
  display: block;
  margin: 30px auto 30px;
}

.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
}

.modal-inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.modal .modal-inner__cover {
  width: 100%;
  height: 250px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.modal iframe {
  width: 100%;
  height: 100%;
}

.modal .close-btn {
  width: 50px;
  position: absolute;
  bottom: 100%;
  right: 0;
}

.tsuchiya-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  margin-top: 30px;
}

.tsuchiya-list__item {
  width: 50%;
}

.tsuchiya-list__item-img {
  width: 100%;
  vertical-align: bottom;
}

.l_footer {
  background-color: white;
}

.l_footer .link-list {
  padding-bottom: 20px;
}

.l_footer .copy-txt {
  background-color: #323232;
  color: white;
}

@media screen and (min-width: 1080px) {
  .l_header {
    width: 100%;
    background-color: #b8d200;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
  }
  .l_header .title-link {
    width: 25%;
  }
  .l_header .title-link .title {
    padding-top: 0;
    width: 100%;
  }
  .l_header .title-link .title__logo {
    width: 20%;
  }
  .l_header .title-link .title__logo .title__logo-img-sp {
    display: block;
    width: 100%;
    -webkit-animation: rotate 5s linear infinite;
            animation: rotate 5s linear infinite;
  }
  .l_header .title-link .title__logo-img-pc {
    display: none;
  }
  @-webkit-keyframes rotate {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(360deg);
    }
  }
  @keyframes rotate {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(360deg);
    }
  }
  .l_header .title-link .title__txt {
    width: 80%;
  }
  .l_header .title-link .title__txt .title__txt-img-pc {
    display: none;
  }
  .l_header .title-link .title__txt .title__txt-img01-sp, .l_header .title-link .title__txt .title__txt-img02-sp {
    display: block;
    margin-left: -7%;
  }
  .l_header .title-link .title__txt-img-pc {
    max-width: 80%;
  }
  .l_header .nav-btn {
    display: none;
  }
  .l_header .link-list {
    position: static;
  }
  .l_header .nav-list {
    display: flex;
    width: 50%;
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .l_header .nav-list .nav-item {
    width: calc(100% / 6);
    position: relative;
    height: 70px;
  }
  .l_header .nav-list .nav-item .nav-item__img {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .l_header .nav-list .nav-item .nav-item__img-before {
    transition: 0.3s;
  }
  .l_header .nav-list .nav-item .is_nav-img_active {
    opacity: 0;
  }
  .l_header .nav-list .nav-item:nth-child(5) .nav-item__img, .l_header .nav-list .nav-item:nth-child(6) .nav-item__img {
    width: 70%;
  }
  .main-wrapper {
    width: 70%;
    margin: 0 auto;
  }
  .hero .title__img-sp {
    display: none;
  }
  .hero .title__img-pc {
    display: block;
  }
  .event-devide {
    display: flex;
  }
  .event-devide .hero-body {
    width: 50%;
  }
  .modal {
    z-index: 100;
  }
  .modal .modal-inner__cover {
    width: 600px;
    height: 450px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .modal iframe {
    width: 100%;
    height: 100%;
  }
  .event-detaile {
    margin-left: 30px;
  }
  .event-detaile .detaile-title {
    width: 200px;
    height: 40px;
    margin-top: 50px;
  }
  .event-detaile .detaile-title:nth-of-type(1) {
    background-image: url("../image/txt_schedule_pc.png");
  }
  .event-detaile .detaile-title:nth-of-type(2) {
    background-image: url("../image/txt_place_pc.png");
  }
  .event-detaile .detaile-title:nth-of-type(3) {
    background-image: url("../image/txt_time_pc.png");
  }
  .event-detaile .detaile-title:nth-of-type(4) {
    background-image: url("../image/txt_content_pc.png");
    width: 280px;
  }
  .event-detaile .detaile-txt {
    font-weight: bold;
  }
  .tsuchiya-list {
    display: none;
  }
  .l_footer .link-list {
    display: none;
  }
  .l_footer .copy-txt {
    margin-top: 10%;
  }
}
