.l_main {
  width: 100%;
  height: 100%;
}

.hero {
  width: 95%;
  margin: 0 auto;
}

.hero .title {
  margin-top: 100px;
  width: 25%;
}

.hero .title-img {
  width: 100%;
}

.l_footer {
  position: absolute;
  bottom: 0;
}

.l_footer .footer-logo {
  display: none;
}

* {
  text-decoration: none;
}

.menu-title {
  width: 100%;
  text-align: center;
  margin-top: 150px;
}

.menu-title__img {
  width: 40%;
}

.news {
  margin-top: 30px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
}

.news-title {
  background-color: #ff7900;
  box-shadow: 0 5px 0 0 #e06500;
  width: 100%;
  height: 20vw;
  line-height: 1.4;
  position: relative;
  z-index: 1;
}

.news-title-txt {
  position: absolute;
  width: 75%;
  height: 100%;
  padding: 20px 60px 20px 10px;
  top: 0;
  left: 0;
  z-index: 3;
  color: white;
}

.news .title-cover {
  width: 100%;
  height: 100%;
  background-color: #ff7900;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.news .date {
  padding-top: 30px;
  box-sizing: border-box;
  position: absolute;
  right: 5%;
  top: 70%;
  width: 20%;
  height: 20vw;
  background-color: #ff7900;
  box-shadow: 0 3px 3px 3px #e06500;
  border-radius: 0 0 30px 30px;
  z-index: 1;
  text-align: center;
}

.news .date-wrapper {
  position: absolute;
  right: 5%;
  top: 70%;
  width: 20%;
  height: 20vw;
  z-index: 3;
  text-align: center;
  font-size: 1.2rem;
  color: white;
}

.news-body {
  background-color: #fdfcee;
  box-sizing: border-box;
  width: 100%;
  padding: 70px 20px 0 20px;
}

.news-body .news-txt {
  line-height: 1.5;
}

.news-body .news-img {
  margin-top: 30px;
  width: 100%;
}

.news-ppublished-data {
  width: 100%;
  font-weight: bold;
  padding: 20px;
  box-sizing: border-box;
}

.under-line {
  width: 90%;
  height: 2px;
  background-color: #e06500;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}

.under-line:after {
  width: 10%;
  height: 5vw;
  background-image: url("../image/news-car.svg");
  position: absolute;
  right: -10%;
  bottom: 100%;
  content: "";
  background-repeat: no-repeat;
}

.info {
  width: 20%;
  padding: 5px;
  background-color: #d9d9d9;
  display: inline-block;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.news-btn {
  display: flex;
  width: 70%;
  margin: 30px auto 0;
  justify-content: space-between;
}

.news-btn .btn-common {
  width: 45%;
  background-color: #e06500;
  display: inline-block;
  color: white;
  font-size: 0.8rem;
  box-sizing: border-box;
  position: relative;
}

.news-btn .btn-common a {
  color: white;
}

.news-btn .btn-common:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-size: cover;
  background-position: center;
  top: 50%;
}

.news-btn__left {
  border-radius: 30px 0 0 30px;
  padding: 5px 5px 5px 10px;
  text-align: right;
  position: relative;
}

.news-btn__left:after {
  background-image: url("../image/arrow_news.svg");
  left: 3%;
  transform: translateY(-50%);
}

.news-btn__right {
  border-radius: 0 30px 30px 0;
  padding: 5px 10px 5px 5px;
}

.news-btn__right:after {
  background-image: url("../image/arrow_news.svg");
  right: 3%;
  transform: translateY(-50%) rotate(180deg);
}

.to-all-btn {
  width: 60%;
  padding: 5px 10px;
  color: white;
  background-color: #e06500;
  text-align: center;
  margin: 30px auto 50px;
  box-sizing: border-box;
  border-radius: 30px;
  position: relative;
}

.to-all-btn a {
  color: white;
}

.to-all-btn:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-size: cover;
  background-position: center;
  top: 50%;
  background-image: url("../image/arrow_news.svg");
  left: 3%;
  transform: translateY(-50%);
}

.is_color_on {
  opacity: 1;
}

.l_footer {
  position: static;
  margin-top: 50px;
}

.btn-none {
  opacity: 0;
}

@media screen and (min-width: 1080px) {
  .l_home .l_main {
    width: 60%;
  }
  .l_header {
    width: 100%;
  }
  .l_header .link-list {
    width: 25%;
  }
  .l_header .title__logo-img-pc {
    width: 50%;
    -webkit-animation: rotate-company-top 5s linear infinite;
            animation: rotate-company-top 5s linear infinite;
  }
  @-webkit-keyframes rotate-company-top {
    0% {
      transform: translateX(75%) rotate(0deg);
    }
    100% {
      transform: translateX(75%) rotate(360deg);
    }
  }
  @keyframes rotate-company-top {
    0% {
      transform: translateX(75%) rotate(0deg);
    }
    100% {
      transform: translateX(75%) rotate(360deg);
    }
  }
  .l_main {
    padding-bottom: 200px;
    width: 60%;
    margin: 20px auto 0;
    border-top: 3px solid gray;
  }
  .menu-title {
    text-align: left;
  }
  .menu-title__img {
    width: 20%;
  }
  .news-body {
    padding: 70px 20px 10% 20px;
  }
  .news-title {
    height: 5vw;
  }
  .news-title-txt {
    padding: 0 0 0 10%;
    line-height: 5vw;
    font-size: 1.2rem;
  }
  .news .date {
    height: 5vw;
    width: 10%;
    border-radius: 0 0 60px 60px;
  }
  .news .date-wrapper {
    width: 10%;
    height: 5vw;
  }
  .news .under-line {
    width: 100%;
  }
  .news .under-line:after {
    top: -1200%;
    width: 5%;
    right: 0;
  }
  .news .info {
    display: none;
  }
  .news-btn-devide {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    margin-top: 10%;
  }
  .news-btn-devide .news-btn {
    width: 50%;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 1rem;
  }
  .news-btn-devide .news-btn .btn-common {
    font-size: 1rem;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .news-btn-devide .news-btn .btn-common:hover {
    opacity: 0.8;
  }
  .news-btn-devide .to-all-btn {
    width: 30%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .news-btn-devide .to-all-btn:hover {
    opacity: 0.8;
  }
  .l_footer .footer-logo {
    display: block;
    text-align: center;
    padding: 10px 0;
  }
  .l_footer .footer-logo__img {
    width: 20%;
  }
  .l_footer .link-list {
    display: none;
  }
  .l_footer .privacy {
    display: none;
  }
}
