.l_main {
  width: 100%;
  height: 100%;
}

.hero {
  width: 95%;
  margin: 0 auto;
}

.hero .title {
  margin-top: 100px;
  width: 25%;
}

.hero .title-img {
  width: 100%;
}

.l_footer {
  position: absolute;
  bottom: 0;
}

.l_footer .footer-logo {
  display: none;
}

* {
  text-decoration: none;
}

.menu-title {
  width: 100%;
  text-align: center;
  margin-top: 150px;
}

.menu-title__img {
  width: 60%;
}

.menu-search {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin: 30px auto 0;
}

.menu-search__left {
  width: 50%;
  height: 10vw;
  background-color: #ffebd9;
  position: relative;
  padding-left: 10px;
  line-height: 10vw;
  box-sizing: border-box;
  color: #ff7900;
}

.menu-search__left:before {
  content: '';
  width: 8vw;
  height: 100%;
  display: block;
  background-color: #ff7900;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  z-index: 1;
}

.menu-search__left:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.9px 4px 0;
  border-color: #fff transparent transparent;
  position: absolute;
  top: 50%;
  right: 2.9vw;
  transform: translateY(-50%);
  z-index: 1;
}

.menu-search__left .select {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.menu-search__right {
  width: 30%;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff7900;
  color: white;
  border-radius: 30px;
}

.menu-list {
  width: 90%;
  margin: 0 auto;
}

.menu-list__item {
  padding: 0 10px;
  width: 100%;
  margin: 20px auto;
  background-color: #ffebd9;
  box-sizing: border-box;
}

.menu-list__item a {
  color: black;
}

.menu-list__item .item-title {
  font-size: 0.8rem;
  padding: 15px 0;
  border-bottom: 1px solid  #ff7900;
}

.menu-list__item .item-txt {
  font-weight: bold;
  padding: 15px 0;
  font-size: 0.9rem;
}

.page-num-list {
  display: flex;
  width: 60%;
  margin: 30px auto 0;
  justify-content: space-between;
}

.page-num-list__item {
  width: 15%;
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;
  opacity: 0.6;
  font-weight: bold;
  position: relative;
}

.page-num-list__item a {
  color: #ff7900;
}

.page-num-list__item:first-child {
  display: none;
}

.page-num-list__item:last-child {
  background-color: #ff7900;
  width: 5vw;
  height: 10vw;
  border-radius: 0 5vw 5vw 0;
  position: relative;
}

.page-num-list__item:last-child:before {
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  content: '';
  border-style: solid;
  border-color: transparent;
  border-width: 5px 0 5px 5px;
  border-left-color: white;
}

.is_color_on {
  opacity: 1;
}

.l_footer {
  position: static;
  margin-top: 50px;
}

@media screen and (min-width: 1080px) {
  .l_home .l_main {
    width: 80%;
  }
  .l_header {
    width: 100%;
  }
  .l_header .link-list {
    width: 25%;
  }
  .l_header .title__logo-img-pc {
    width: 50%;
    -webkit-animation: rotate-company-top 5s linear infinite;
            animation: rotate-company-top 5s linear infinite;
  }
  @-webkit-keyframes rotate-company-top {
    0% {
      transform: translateX(75%) rotate(0deg);
    }
    100% {
      transform: translateX(75%) rotate(360deg);
    }
  }
  @keyframes rotate-company-top {
    0% {
      transform: translateX(75%) rotate(0deg);
    }
    100% {
      transform: translateX(75%) rotate(360deg);
    }
  }
  .l_main {
    padding-bottom: 200px;
    width: 90%;
    margin: 20px auto 0;
    border-top: 3px solid gray;
  }
  .top-devide {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
  }
  .top-devide .menu-title {
    width: 40%;
    margin-top: 5%;
    text-align: left;
  }
  .top-devide .menu-search {
    width: 30%;
    margin: 5% 0 0;
    height: auto;
  }
  .top-devide .menu-search__left {
    line-height: 3vw;
    height: 3vw;
  }
  .top-devide .menu-search__left .select {
    height: 3vw;
  }
  .top-devide .menu-search__right {
    height: 3vw;
    line-height: 3vw;
  }
  .menu-search__left:before {
    width: 3vw;
  }
  .menu-search__left:after {
    right: 1.1vw;
  }
  .page-num-list {
    margin-top: 10%;
  }
  .page-num-list__item:last-child {
    width: 1.5vw;
    height: 3vw;
    border-radius: 0 3vw 3vw 0;
  }
  .l_footer .footer-logo {
    display: block;
    text-align: center;
    padding: 10px 0;
  }
  .l_footer .footer-logo__img {
    width: 20%;
  }
  .l_footer .link-list {
    display: none;
  }
  .l_footer .privacy {
    display: none;
  }
}
