.recruit-btn {
  width: 90px;
  height: 90px;
  position: fixed;
  right: 0;
  transform: translateX(50%);
  bottom: 20%;
  z-index: 20;
}

.recruit-btn__inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.recruit-btn-bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: recruit-btn-rotate 5s linear infinite reverse;
}

.recruit-btn-top-img {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: recruit-btn-rotate 5s linear infinite;
          animation: recruit-btn-rotate 5s linear infinite;
}

@-webkit-keyframes recruit-btn-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes recruit-btn-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.recruit-btn .recruit-btn-after {
  display: none;
}

.recruit-btn .recruit-btn-active {
  opacity: 0;
}

.l_main {
  width: 100%;
  height: 100%;
  margin-top: 0;
  background-color: #b8d200;
  padding-bottom: 50px;
}

.l_header {
  background-color: white;
}

.l_header .title__txt-img01 {
  width: 100%;
}

.nav .nav-list__item:first-child {
  display: none;
}

.nav .nav-list__item-img-sp {
  display: none;
}

.nav .nav-btn__inner {
  background-color: white;
}

.nav .nav-btn__inner:before {
  border-top: solid 2px yellowgreen;
  border-left: solid 2px yellowgreen;
}

.nav .nav-btn__inner:after {
  border-top: solid 2px yellowgreen;
  border-left: solid 2px yellowgreen;
}

.pic-slide-list {
  margin-top: 30px;
}

.pic-slide-list__item {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  padding-top: 100px;
  position: relative;
}

.pic-slide-list__item .pic-item-img {
  width: 100%;
  border-radius: 50%;
}

.pic-slide-list__item .pic-comment {
  opacity: 0;
  width: 180px;
  position: absolute;
  top: 10px;
  transform: translate(-25%, 50px);
  z-index: -1;
}

.pic-slide-list__item .pic-comment__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.pic-slide-list__item .pic-comment__title {
  width: 100%;
  color: white;
  font-size: 0.7rem;
  transform: rotate(-1deg);
  margin-left: 9px;
}

.pic-slide-list__item .pic-comment__txt {
  background-image: url("../image/hero-pic-comment-bg.svg");
  width: 180px;
  height: 50px;
  background-size: cover;
  text-align: center;
  line-height: 50px;
  margin-top: 5px;
  color: white;
  background-position: center;
}

.pic-slide-list__item .is_slick-comment_active {
  opacity: 1;
  -webkit-animation: pop 0.2s 1 forwards;
          animation: pop 0.2s 1 forwards;
}

@-webkit-keyframes pop {
  0% {
    transform: translate(-25%, 50px);
  }
  100% {
    transform: translate(-25%, 0);
  }
}

@keyframes pop {
  0% {
    transform: translate(-25%, 50px);
  }
  100% {
    transform: translate(-25%, 0);
  }
}

.l_footer {
  position: static;
  background-color: white;
}

.l_footer .privacy {
  color: yellowgreen;
}

.l_footer .footer-logo {
  display: none;
}

.l_footer .footer-copy {
  text-align: center;
  color: yellowgreen;
  font-size: 0.7rem;
  height: 30px;
  line-height: 30px;
  border-top: 1px solid yellowgreen;
}

.l_footer .to-btn {
  display: flex;
  align-items: center;
}

.l_footer .to-btn .to-top {
  width: 50%;
}

.l_footer .to-btn .to-recruit {
  width: 50%;
  background-color: #252626;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
}

.l_footer .to-btn .to-recruit a {
  text-decoration: none;
}

.l_footer .to-btn .to-recruit__txt {
  color: yellow;
  font-weight: bold;
}

.hero {
  width: 95%;
  margin: 0 auto;
}

.hero .title {
  width: 25%;
}

.hero .title-img {
  width: 100%;
  margin-top: 100px;
}

.talk-title {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.talk-title__img {
  width: 70%;
}

.talk-img-list {
  width: 95%;
  margin: 50px auto 0;
  justify-content: center;
  display: flex;
}

.talk-img-list__item {
  width: 23%;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid yellow;
}

.talk-img-list__item:nth-of-type(1) {
  transform: translateY(-20%);
}

.talk-img-list__item:nth-of-type(2) {
  transform: translateY(20%);
}

.talk-img-list__item:nth-of-type(3) {
  transform: translateY(-20%);
}

.talk-img-list__item:nth-of-type(4) {
  transform: translateY(20%);
}

.talk-img-list__item .item-img {
  width: 100%;
}

.talk-txt {
  margin-top: 50px;
  line-height: 1.5;
  font-size: 0.8rem;
}

.cross-talk-list {
  width: 90%;
  margin: 100px auto 0;
}

.cross-talk-list__item {
  width: 100%;
  margin-top: 20px;
}

.cross-talk-list__item .cross-talk__img {
  width: 100%;
}

.pic-slide-list {
  display: none;
}

.crosstalk-img {
  display: none;
}

@media screen and (min-width: 1080px) {
  .recruit-btn {
    width: 140px;
    height: 140px;
    transition: 0.3s;
  }
  .recruit-btn-active {
    width: 140px;
    height: 140px;
    position: absolute;
    background-color: #ce4141;
    text-align: center;
    line-height: 140px;
    border-radius: 50%;
    color: white;
    font-size: 0.8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    transition: 0.3s;
  }
  .l_home {
    background-color: #b8d200;
  }
  .l_header {
    width: 100%;
    background-color: #b8d200;
    height: auto;
    z-index: auto;
  }
  .link-list-pc {
    width: 20%;
  }
  .nav {
    background-color: white;
  }
  .nav .nav-list__item {
    background-color: white;
  }
  .nav .nav-list__item:first-child {
    display: block;
    margin-top: 10px;
  }
  .nav .nav-list__item-img-sp {
    display: block;
  }
  .nav-list__item-img-pc {
    display: none;
  }
  .recruit-list__item-img-pc {
    display: block;
  }
  .pic-slide-list__item {
    background-color: #FFFF99;
    height: auto;
    padding: 0;
    margin-top: 2%;
    margin-right: 20px;
  }
  .pic-slide-list__item .pic-comment {
    top: -100px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .pic-slide-list__item .is_slick-comment_active_pc {
    opacity: 1;
  }
  .l_footer .footer-copy {
    display: none;
  }
  .l_footer .link-list {
    display: none;
  }
  .l_footer .privacy {
    display: none;
  }
  .l_footer .footer-logo {
    background-color: yellowgreen;
    display: block;
    text-align: center;
    padding: 10px 0;
  }
  .l_footer .footer-logo__img {
    width: 20%;
  }
  .hero .title {
    display: none;
  }
  .talk-top-devide {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }
  .talk-title {
    width: 70%;
  }
  .talk-top-right {
    width: 30%;
    position: relative;
  }
  .talk-top-right .talk-img-list {
    display: block;
  }
  .talk-top-right .talk-img-list__item {
    position: absolute;
  }
  .talk-top-right .talk-img-list__item:nth-of-type(1) {
    width: 30%;
    left: -30%;
  }
  .talk-top-right .talk-img-list__item:nth-of-type(2) {
    width: 30%;
    top: 10%;
    left: 20%;
  }
  .talk-top-right .talk-img-list__item:nth-of-type(3) {
    width: 30%;
    left: -15%;
    top: 40%;
  }
  .talk-top-right .talk-img-list__item:nth-of-type(4) {
    width: 40%;
    top: 35%;
    left: 25%;
  }
  .talk-txt {
    position: absolute;
    bottom: 5%;
    left: -20%;
    width: 80%;
  }
  .pic-slide-list {
    display: block;
  }
  .balloon {
    border-radius: 50%;
    position: absolute;
  }
  .balloon01 {
    width: 24px;
    height: 24px;
    background-color: #f8ea21;
    bottom: 35%;
    left: -20%;
  }
  .balloon02 {
    background-color: #dfeb8c;
    width: 15px;
    height: 15px;
    left: -27%;
    bottom: 31%;
  }
  .balloon03 {
    background-color: #f8ea21;
    width: 7px;
    height: 7px;
    bottom: 27%;
    left: -33%;
  }
  .cross-talk-list {
    display: flex;
    width: 70%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .cross-talk-list__item {
    width: 30%;
    position: relative;
    overflow: hidden;
  }
  .cross-talk-list__item .recruit-click-after {
    position: absolute;
    top: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 200px);
    background-color: white;
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    background-image: url("../image/recruit_talk_bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .cross-talk-list__item .recruit-click-after__txt {
    color: white;
    padding: 10px 30px;
    position: relative;
  }
  .cross-talk-list__item .recruit-click-after__txt .crosstalk-img {
    width: 100%;
    display: block;
  }
}
