.l_main {
  width: 100%;
  height: 100%;
}

.hero {
  width: 95%;
  margin: 0 auto;
}

.hero .title {
  margin-top: 100px;
  width: 25%;
}

.hero .title-img {
  width: 100%;
}

.l_footer {
  position: absolute;
  bottom: 0;
}

.l_footer .footer-logo {
  display: none;
}

* {
  text-decoration: none;
}

.menu-title {
  width: 100%;
  text-align: center;
  margin-top: 150px;
}

.menu-title__img {
  width: 60%;
}

.topic {
  width: 90%;
  margin: 0 auto;
}

.topic__list {
  width: 100%;
}

.topic__list-item {
  background-color: #9163a7;
  margin-top: 30px;
}

.topic__list-item .item-devide {
  display: flex;
  align-items: center;
}

.topic__list-item .item-devide .item-img {
  width: 40%;
}

.topic__list-item .item-devide .item-top {
  display: block;
}

.topic__list-item .item-devide .item-top__left {
  width: 100%;
}

.topic__list-item .item-devide .item-top__right {
  margin-top: 5px;
}

.topic__list-item .item-devide .item-bottom {
  line-height: 1.3;
}

.topic__list-item .item-img {
  width: 100%;
}

.topic__list-item .item-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: center;
  margin-top: 10px;
}

.topic__list-item .item-top__left {
  width: 30%;
}

.topic__list-item .item-top__left .txt {
  display: inline-block;
  background-color: #bdc4bd;
  border-radius: 30px;
  color: white;
  font-size: 0.7rem;
  padding: 3px;
  box-sizing: border-box;
}

.topic__list-item .item-top__right {
  width: 40%;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  text-align: right;
}

.topic__list-item .item-bottom {
  color: white;
  font-size: 0.9rem;
  padding: 0 20px 10px 20px;
  margin-top: 10px;
}

.l_footer {
  position: static;
  margin-top: 50px;
}

.btn-none {
  opacity: 0;
}

@media screen and (min-width: 1080px) {
  .l_home .l_main {
    width: 80%;
  }
  .l_header {
    width: 100%;
  }
  .l_header .link-list {
    width: 25%;
  }
  .l_header .title__logo-img-pc {
    width: 50%;
    -webkit-animation: rotate-company-top 5s linear infinite;
            animation: rotate-company-top 5s linear infinite;
  }
  @-webkit-keyframes rotate-company-top {
    0% {
      transform: translateX(75%) rotate(0deg);
    }
    100% {
      transform: translateX(75%) rotate(360deg);
    }
  }
  @keyframes rotate-company-top {
    0% {
      transform: translateX(75%) rotate(0deg);
    }
    100% {
      transform: translateX(75%) rotate(360deg);
    }
  }
  .l_main {
    padding-bottom: 200px;
    width: 60%;
    margin: 20px auto 0;
    border-top: 3px solid gray;
  }
  .l_main .menu-title {
    width: 90%;
    margin: 150px auto 0;
    text-align: left;
  }
  .l_main .menu-title__img {
    width: 20%;
  }
  .topic__list .item-devide {
    display: block;
  }
  .topic__list .item-devide .item-img {
    width: 100%;
  }
  .topic__list .item-devide .item-top__right {
    text-align: left;
  }
  .topic__list .item-devide .item-bottom {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.1rem;
    font-weight: bold;
  }
  .topic__list-top {
    display: flex;
    justify-content: space-between;
  }
  .topic__list-top .topic__list-item {
    width: 46%;
  }
  .topic__list-item:hover {
    opacity: 0.8;
  }
  .topic__list-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .topic__list-bottom .topic__list-item {
    width: 30%;
  }
  .l_footer .footer-logo {
    display: block;
    text-align: center;
    padding: 10px 0;
  }
  .l_footer .footer-logo__img {
    width: 20%;
  }
  .l_footer .link-list {
    display: none;
  }
  .l_footer .privacy {
    display: none;
  }
}
