@media screen and (min-width: 1080px) {
  .l_home{
    background-color: #b8d200;
  }
  .l_header{
    width: 100%;
    background-color: #b8d200;
    height: auto;
    z-index: auto;
  }
  .link-list-pc{
    width: 20%;
  }
  .nav{
    background-color: white;
    .nav-list__item{
      background-color: white;
      &:first-child{
        display: block;
        margin-top:10px;
      }
      &-img-sp{
        display: block;
      }
    }
  }
  .nav-list__item-img-pc{
    display: none;
  }
  .recruit-list__item-img-pc{
    display: block;
  }
  .hero{
    position: relative;
    .arrow-left{
      position: absolute;
      top: 26%;
      left: 6%;
      width:10%;
      transform: rotate(180deg);
      animation: shake-left 0.5s infinite linear alternate;
      display: none;
      img{
        width:25%;
        cursor: pointer;
      }
    }
    .arrow-right{
      position: absolute;
      top: 26%;
      right: 10%;
      width:10%;
      animation: shake-right 0.5s infinite linear alternate;
      
      img{
        width:25%;
        cursor: pointer;
      }
      @keyframes shake-right{
        0%{
          transform:translateX(0);
        }
        100%{
          transform:translateX(20%);
        }
      }
      @keyframes shake-left{
        0%{
          transform:translateX(20%) rotate(180deg);
        }
        100%{
          transform:translateX(0%) rotate(180deg);
        }
      }
    }
    .title{
      display: none;
    }
    &-list{
      width: 50%;
      margin: 10px auto 0;
      position:relative;
      &__item{
        text-align: left;
        display: none;
        height:300px;
        .item-title{
          font-size: 1.8rem;
          font-weight: bold;
        }
        .item-txt{
          line-height: 1.8;
          font-size: 1.1rem;
          margin-top: 30px;
        }
      }
      
      &__item:first-child{
        display: block;
        height:300px;
        .txt{
        margin-top: 20px;
        font-weight: bold;
        font-size: 1.4rem;
        color: #323232;
        }
      }

      &__item:last-child{
        display: none;
        width: 50%;
        margin: 0 auto;
        transform: translateY(25%);
        height:300px;
        .item-title{
          font-size: 2rem;
          font-weight: bold;
          background-color:  #323232;
        }
      }
    }
  }
  .pic-slide-list{
    &__item{
      background-color: #FFFF99;
      height: auto;
      padding: 0;
      margin-top: 2%;
      margin-right: 20px;
      .pic-comment{
        top:-100px;
        left: 50%;
        transform: translate(-50%,0);
      }
      .is_slick-comment_active_pc{
        opacity: 1;
      }
    }
  }
  .list-dots{
    display: flex;
    width: 10%;
    justify-content: space-between;
    margin:100px auto 0;
    &__item{
      width:10px;
      height: 10px;
      background-color: white;
      border-radius: 50%;
      opacity: 0.7;
      &:first-child{
        opacity:1;
      }
    }
  }
  .recruit-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    margin: 10% auto 0;
    &__item{
      width:30%;
      .detaile{
        display: block;
      }
      .recruit-click-after{
        display:block;
        &__txt{
          display: inline-block;
          margin-top: 10px;
          margin-left: 20px;
        }
      }
      .detaile{
        padding: 20px;
        font-size: 1.1rem;
        line-height: 1.3;
      }
      &:nth-of-type(1){
        width:33%;
      }
      &:nth-of-type(2){
        width:33%;
      }
      &:nth-of-type(3){
        width:33%;
      }
      &:nth-of-type(4){
        width:24%;
        .recruit-click-after{
          display:flex;
          align-items: center;
          justify-content: center;
          &__txt{
            display: block;
            margin: 0;
          }
        }
      }
      &:nth-of-type(5){
        width:24%;
        .recruit-click-after{
          display:flex;
          align-items: center;
          justify-content: center;
          &__txt{
            display: block;
            margin: 0;
          }
        }
      }
      &:nth-of-type(6){
        width:24%;
        .recruit-click-after{
          display:flex;
          align-items: center;
          justify-content: center;
          &__txt{
            display: block;
            margin: 0;
          }
        }
      }
      &:nth-of-type(7){
        width:24%;
        display:flex;
        align-items: center;
        justify-content: center;
        .recruit-click-after{
          display:flex;
          align-items: center;
          justify-content: center;
        &__txt{
          display: block;
          margin: 0;
        }
      }
    }
      &-img{
        display: none;
      }
      &-img-pc{
        width: 100%;
      }
    }
  }
  .l_footer{
    .footer-copy{
      display:none;
    }
    .link-list{
      display: none;
    }
    .privacy{
      display: none;
    }
    .footer-logo{
      background-color: yellowgreen;
      display: block;
      text-align: center;
      padding: 10px 0;
      &__img{
        width: 20%;
      }
    }
  }
}