*{
  text-decoration: none;
}
.l_main{
  position: relative;
  overflow: hidden;
}
.main-list{
  width: 100%;
  display: flex;
}
.main-list__img{
  width: 100%;
  display: block;
  margin-top: 20px;
}
.aniversary{
  margin-top: 70px;
}
.aniversary-img{
  margin-top: 0;
}
iframe{
  display: none;
}
.aniversary-movie-logo-bg{
  display: none;
}
.slide{
  margin-top: 20px;
  position: relative;
  &:before{
    z-index: 6;
    position: absolute;
    top: 40%;
    margin: auto;
    content: "";
    vertical-align: middle;
    left: 0px;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border: 5px solid transparent;
    border-right: 10px solid #ff7900;
  }
  &:after{
    z-index: 6;
    position: absolute;
    top: 40%;
    margin: auto;
    content: "";
    vertical-align: middle;
    right: 0px;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border: 5px solid transparent;
    border-left: 10px solid #ff7900;
  }
  .side-btn{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 25%;
    background-color: white;
    opacity: 0.7;
    z-index: 2;
    border-radius: 50%;
    &-left{
      transform: translateX(-50%);
      z-index: 5;
    }
    &-right{
      transform: translateX(50%);
      right: 0;
      z-index: 5;
    }
  }
  &-list{
    width: 100%;
    overflow: hidden;
    &__item{
      padding: 10px 30px;
      background-color: #ff7900;
      width: 100%;
      .slide-upper{
        width: 100%;
        display: flex;
        padding: 10px 0;
        border-bottom: 1px solid white;
        &__left{
          width: 50%;
          &-logo{
            width: 60%;
          }
        }
        &__right{
          text-align: right;
          width: 50%;
          &-txt{
            color: white;
            font-weight: bold;
          }
        }
      }
      .slide-under{
        padding: 20px 0;
        color: white;
        font-weight: bold;
      }
    }
  }
  .slide-slick-dots{
    width: 100%;
    height: 50px;
    &__inner{
      width: 30%;
      display: flex;
      height: 30px;
      justify-content: space-between;
      margin: 0 auto;
      align-items: center;
      li{
        list-style: none;
        button{
          margin: 0;
          padding: 0;
          background: none;
          border: none;
          border-radius: 0;
          outline: none;
          text-indent: -9999px;
          position:relative;
          &:before{
            content: '●';
            color: #ff7900;
            font-size: 20px;
            text-indent: 0px;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.6;
          }
        }
      }
      .slick-active{
        button:before{
         opacity: 1;
        }
      }
    }
  }
}
.topic{
  &:before{
    border-right: 10px solid #9163a7;
  }
  &:after{
    border-left: 10px solid #9163a7;
  }
  &-list{
    &__item{
      background-color: #9163a7;
    }
  }
  .slide-slick-dots__inner li button:before{
    color:#9163a7;
  }
}
.service{
  width: 100%;
  &:before{
    border-right: 10px solid #b8d200;
    top: 44%;
  }
  &:after{
    border-left: 10px solid #b8d200;
    top: 44%;
  }
  .side-btn{
    top: 36%;
  }
  &-list{
    &__item{
      background-color: #b8d200;
      .service-title{
        margin-top: 10px;
        &__img{
          width: 60%;
        }
      }
      .service-title-sub{
        margin-top: 20px;
        display: flex;
        align-items: center;
        &__left{
          width: 50px;
          height: 50px;
          background-color: white;
          text-align: center;
          display: flex;
          align-items: center;
          margin-right: 10px;
          span{
            display: block;
            margin: 0 auto;
            font-size: 30px;
            font-weight: bold;
            color: #b8d200;
          }
        }
        &__right{
          font-weight: bold;
          font-size: 22px;
          color: white;
        }
      }
      .service-description{
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 2;
        color: white;
        font-size: 13px;
      }
    }
  }
}
.service-modal-img-popup{
  background:rgba(45,45,45,0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  .popup-inner{
    width: 100%;
    border-radius: 15px;
    border: 5px solid grey;
    position: relative;
    overflow: hidden;
    .close-txt{
      position: absolute;
      top: 0;
      right: 2px;
      z-index: 3;
      color: white;

    }
    .popup-close-btn{
      position: absolute;
      top: 0;
      right: 0;
      transform:translate(50%, -50%);
      background-color: gray;
      width: 40px;
      height: 40px;
      z-index: 2;
      border-radius: 50%;
    }
    &__img{
      width: 100%;
      border-radius: 15px;
    }
  }
}
.shop{
  margin-top: 30px;
  &-title{
    text-align: center;
    &__img{
      width: 30%;
    }
  }
  &-list__item{
    overflow: hidden;
    margin-top: 5px;
  }
  &-bg-wrapper{
    position: relative;
    z-index: 3;
    &:after{
      content:"";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      border-right: 10px solid transparent;
      border-bottom: 10px solid #f2f8d5;
      border-left: 10px solid transparent; 
      z-index: 2;
      opacity: 0.8;
    }
  }
  
  &-bg-img{
    width: 100%;
    transition: 0.3s;
  }
  &-txt-img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    width: 50%;
    z-index: 4;
  }
  &-img-dark{
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 100%;
  }
  &-modal__bg{
    width: 100%;
    height: 650px;
    background-color: #b8d220;
    background-image: linear-gradient(45deg, #adcb02 25%, #adcb02 25%, transparent 25%, transparent 75%, #adcb02 75%, #adcb02 75%), linear-gradient(-135deg, #adcb02 25%, #adcb02 25%, transparent 25%, transparent 75%, #adcb02 75%, #adcb02 75%);
    background-position: 0 0, 5px 5px;
    background-size: 10px 10px;
    display: none;
    position: relative;
  }
  &-modal{
    position: absolute;
    // top:90%;
    left: 50%;
    transform: translate(-50%, -900px);
    width: 80%;
    background-color: blanchedalmond;
    z-index: -1;
    padding: 20px;
    transition: 0.3s;
    &__title{
      margin-top: 20px;
      border-top: 1px solid #b8d220;
      display: flex;
      &-left{
        display: flex;
        align-items: center;
        width: 65%;
        img{
          width: 10px;
          margin-right: 10px;
        }
        span{
          font-size: 14px;
          font-weight: bold;
        }
      }
      &-right{
        display: flex;
        align-items: center;
        .shop-modal-logo{
          width: 30px;
          display: block;
          margin-right: 10px;
        }
      }
    }
    &__data{
      margin-top: 20px;
      border-bottom: 2px solid #b8d220;
      p{
        margin-top: 10px;
        font-size: 14px;
        font-weight: bold;
        &:last-child{
          margin-bottom: 20px;
        }
      }
    }
    &__txt{
      line-height: 2;
      font-size: 14px;
      margin-top: 20px;
    }
    &__list{
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
    &__item{
      width: 30%;
      list-style: none;
      &-img{
        width: 100%;
      }
    }
    &__info{
      margin-top: 10px;
      display: flex;
      align-items: center;
      .shop-arrow{
        width:10px;
        margin-right: 5px;
      }
      span{
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
.event_margin_top{
  margin-top: 20px;
}
.event{
  text-align: center;
  padding: 10px 20px;
  border: 5px solid red;
  background-color: white;
  position: relative;
  overflow: hidden;
  &:before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%,50%);
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
  }
  &:after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%,50%) rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: pink;
    z-index: 2;
  }
  a{
    text-decoration: none;
  }
  &__title{
    font-size: 33px;
    font-weight: bold;
    color: red;
  }
  &__title-sub{
    font-size: 13px;
    color: red;
    margin-top: 5px
  }
}
.shop-right{
  display: none;
}
.is_active{
  display: block;
}
.is_shop_modal_active{
  transform: translate(-50%, 0);
}
.is_shop-img-dark_none{
  background-color: transparent;
}
.is_shop-bg-img_widen{
  transform: scale(1.1);
}
.baner{
  display: none;
}
