@import "contact_common.scss";
@import "mixin.scss";

*{
  box-sizing: border-box;
}
.hero{
  width: 90%;
  margin: 0 auto;
  .form-title{
    width: 100%;
    background-color: yellowgreen;
    color: white;
    font-weight: bold;
    padding: 15px 0;
    border-radius: 30px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    margin: 30px auto 0;
    &:before{
      position: absolute;
    top: 100%;
    left: calc(50% - 6px);
    width: 0;
    height: 0;
    content: '';
    border-width: 12px 7.5px 0;
    border-style: solid;
    border-color: #bad200 transparent transparent;
    }
  }
  .error-message{
    color: red;
    margin-top: 20px;
  }
}
.contact{
  margin-top: 20px;
}

.contact-form{
  width: 100%;
  &-persons-info{
    padding-bottom:20px;
    border-bottom:2px solid yellowgreen;
  }
&-title{
  margin-top:20px;
  .must{
    color: red;
  }
}
.form-data{
  display:flex;
  justify-content: space-between;
  &-right{
   width: 47%;
  }
  &-left{
    width: 47%;
    
  }
  &-text{
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border-color: #fc053e;
    background-color: #fee5eb;
  }
  .is_true{
    background-color: white;
    border: 1px solid yellowgreen;
  }
  .width-max{
    width: 100%;
  }
}
}
.reserve-store{
  &__title{
    color: yellowgreen;
    margin-top: 20px;
    font-weight: bold;
  }
  .form-data-select{
    position: relative;
    width: 80%;
    background-color: #fee5eb;
    border: 1px solid  #fc053e;
    &:after{
      content:"店";
      width: 30%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 103%;
    }
   .line{
     position:absolute;
     top: 50%;
     left:2%;
     transform: translateY(-50%);
     font-size: 14px;
     height: 1rem;
   }
    .select-store{
      width: 100%;
      height: 30px;
      opacity: 0;
      .none{
        font-size: 20px;
      }
    }

  }
}
.reserve-date{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &-inner{
    width:25%;
    position:relative;
    background-color: #fee5eb;
    border: 1px solid  #fc053e;
    margin-top: 10px;
    margin-right:10px;
    .line{
      position:absolute;
      top: 50%;
      left:6%;
      transform: translateY(-50%);
      font-size: 14px;
      height: 1rem;
    }
  }
  .is_true{
    background-color: white;
    border: 1px solid yellowgreen;
  }
  &__select{
    width:100%;
    height: 30px;
    opacity: 0;
  }
  .year:after{
    content:"年";
    @include selectTime;
  }
  .month:after{
    content:"月";
    @include selectTime;
  }
  .date:after{
    content:"日";
    @include selectTime;
  }
  .time:after{
    content:"時";
    @include selectTime;
  }
}
.reserve-reason__list{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  &-item{
    width: 28%;
    margin-right: 10px;
    position: relative;
    display: flex;
    align-items: center;
    &:nth-of-type(4),&:nth-of-type(5){
      margin-top: 10px;
    }
    .check-box{
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      left: 2%;
      width: 20px;
      height: 20px;
      background-color:#fee5eb;
      border: 1px solid  #fc053e;
      &__true{
        width:100%;
        height: 100%;
        position:relative;
        opacity:0;
        transition: 0.5;
        &:after{
          content: "";
          position: absolute;
          width: 11px;
          height: 6px;
          border-bottom: 2px solid #b8d200;
          border-left: 2px solid #b8d200;
          top: 49%;
          left: 50%;
          transform: translate(-50%,-50%) rotate(-45deg);
        }
      }
      &__active{
        width:100%;
        height: 100%;
        position:relative;
        opacity:1;
        &:after{
          transform: translate(-50%,-50%) rotate(-45deg);
        }
      }
      
    }
    .is_true{
      background-color: white;
      border: 1px solid yellowgreen;
    }
    .reason-check{
      opacity: 0;
    }
    .reason-label{
      margin-left: 5px;
      font-size: 0.7rem;
    }
  }
}
.text-area{
  width: 100%;
  height: 150px;
  background-color:#fee5eb;
  border: 1px solid  #fc053e;
  margin-top: 20px;
}
.select-frequency{
  width: 100%;
  height: 30px;
  background-color:#fee5eb;
  border: 1px solid  #fc053e;
  position:relative;
  margin-top:10px;
  &-text{
    width: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
    font-size: 0.8rem;
  }
}
.is_true{
  background-color: white;
  border: 1px solid yellowgreen;
}
.select-frequency-box{
  opacity: 0;
  width: 100%;
  height: 30px;
}
.check-box-wrapper{
  display:flex;
  width: 100%;
  margin-top: 10px;
  .radio-wrapper{
    width: 20%;
    position:relative;
    height:30px;
    display: flex;
    align-items: center;
    .already-bought-box{
      opacity: 0;
      position: absolute;
      top: 50%;
      left:0;
      transform: translateY(-50%);
    }
    .radio-box{
      width: 20px;
      height:20px;
      border: 1px solid yellowgreen;
      position: relative;
      border-radius: 50%;
      margin-right:10px;
      &:after{
        content:"";
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        width: 10px;
        height: 10px;
        background-color: yellowgreen;
        border-radius: 50%;
        opacity: 0;
      }
    }
    .is_none{
      &:after{
        opacity:1;
      }
    }
  }
}
.representative-wrapper{
  justify-content: space-between;
  align-items: center;
  .representative{
    width:30%;
  }
  .representative-txt{
    background-color:#fee5eb;
    width: 100%;
    margin-right:10px;
    height:30px;
  }
}
.to-confirmation-page{
  width: 70%;
  margin: 30px auto 30px;
  background-color: #fee5eb;
  color: white;
  text-align: center;
  padding:15px 0;
  border-radius: 30px;
  a{
    color:white;
    text-decoration: none;
  }
}
.l_footer{
  position: static;
}



